// Here you can add other styles
.bms-card-invoice {
    .card-body {
        position: relative;

        .icons,
        .bms-icons-invoice {
            color: #ccc;
            font-size: 3rem;
            position: absolute;
            // top: 1rem;
            margin: 0;
        }

        .icons {
            top: 1rem;
        }

        .bms-box-detail {
            text-align: right;

            p {
                margin: 0;
                color: #555;
            }
        }
    }
}

.bms-quick-button {
    line-height: 2.5;
    width: 100%;
    .fa {
        width: auto;
        background: transparent;
        font-size: 3rem;
        line-height: 5rem !important;
        text-align: center;
    }
}

.bms-head-title {
    color: #888;
    padding: 0;
    margin-bottom: 2rem;

    .display-4 {
        font-size: 2rem;
    }
}

.form-check-input {
    &.single-check {
        margin-left: -.4rem;
    }
}

.bms-separator-number {
    margin-left: .5rem;
}

.no-margin {
    margin: 0 !important;
}

// .rdt_TableCell {
//     min-width: auto !important;
//     margin: 0 8px;
// }